.shopCarFlashBox{position:fixed;left:50%;top:50%;margin:-285px 0 0 -500px;z-index:5000;pointer-events: none;}
.shop_car{width:1188px;}
.shop_car_warp{width:1188px; background: #fff; margin-top: 20px;}

.shop_car_tit{font-size:20px; color: #333; height: 64px; line-height: 62px; border-bottom: 1px solid #F2F2F2;}
.shop_car_tit span{display: block; float: left; border-bottom: 3px solid #FF4541; margin-left: 20px;}

.shop_car_box{text-align:center;}
.shop_car_item{color:#585858;width:19.825%;height:262px; float:left;background:#fff; position:relative; border: 1px solid #fff; border-right: 1px solid #F2F3F4; border-bottom: 1px solid #F2F3F4; color:#585858; moz-transition: all .5s;
-webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
.shop_car_item:hover{border:1px solid #FF4541;}

.shop_car_item .car_name{font-weight:700;font-size:14px; height:60px;line-height:60px; color: #333;}
.shop_car_item .car_img{max-height:170px;}
.shop_car_item .car_img img{max-height:170px;max-width:100%;}

.shop_car_item .car_money{height:40px;line-height:40px; color: #999;}
.shop_car_item .car_money span{ color:#FF4541;}

.shop_car_item .buy_car_pop{width:136px;height:36px;line-height:36px;font-size:14px;color:#FF4541; border-radius:2px; background:#fff; margin:10px auto 0px; border: 1px solid #FF4541; cursor:pointer; moz-transition: all .5s;
-webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
.shop_car_item .buy_car_pop:hover{color: #fff; background: #FF4541;}

.shop_car_item .other_btn{display:none;padding:0 35%;height:30px;line-height:30px;}
.shop_car_item .other_btn a{font-weight:bold;}
.shop_car_item .other_btn a:hover{color:#FF4541;}
.shop_car_item:hover .other_btn{display:block;}
.shop_car_item dl{font-size:14px;}
.shop_car_item dl dd{font-weight:bold;}
.shop_car_item dl dt,.shop_car_item dl dd{height:40px;line-height:40px;}

.shop_car_item .car_save_time{position:absolute;left:0;top:60px;display:inline-block;width:100%;}
.shop_car_item .car_save{position:absolute;right:10px;top:10px;width:46px;height:37px;background-position:-751px 0;font-size:14px;color:#fff;line-height:38px;padding-left:3px;}
.shop_car_item .car_ico{width:55px;height:55px;position:absolute;left:0;top:0;}
.car_ico3{background-position:-670px 0;}
.car_ico5{background-position:-670px -55px;}
.car_ico4{background-position:-670px -110px;}
.car_ico1{background-position:-670px -165px;}
.car_ico2{background-position:-670px -220px;}

/*活动座驾*/
.shop_item_ac{ height: 240px;}