.web_nav_bbg{height:61px;z-index:20;background:#262626;min-width:1280px;}
.web_nav{height:61px;margin:0 auto;width:1210px;z-index:3;}

.web_nav .logo{margin-right:20px;/*width:110px;*/ width: 130px; height:61px;background:url(http://img3.img.9xiu.com/public/webImg/common/logo7.png) left center no-repeat; background-size: 100%;}
.web_nav .logo a{display:block;background:#000;width:100%;height:100%;opacity:0;filter:alpha(opacity=0)\9;}

.web_nav .nav_list li{float:left;height:61px;line-height:69px;}
.web_nav .nav_list li a{color:#f3f3f3;font-size:14px;padding:0 16px;line-height:61px;display:inline-block;height:61px;float:left;}
.web_nav .nav_list li span.item_line{border-right: 1px solid #686868;vertical-align:-3px;margin:0 2px;}
.web_nav .nav_list li a.on{background:#fa265d;}
.web_nav .nav_list li a.on2{background:#fa265d;}
.web_nav .nav_list li.download .downloadBox{left:-14px;top:61px;background:#262626;color:#fff;}
.web_nav .nav_list li.download .downloadBox p{line-height:34px;}
.web_nav .nav_list li.download .downloadBox a{font-size:14px;color:#bbc1ca;height:34px;line-height:34px;display:inline-block;width:90px;}
.web_nav .nav_list li.download .downloadBox a:hover{color:#fff;background:none;}
.loginIcon{background-image:url(http://img3.img.9xiu.com/public/webImg/common/loginIcon.png);display:inline-block;vertical-align:middle;overflow:hidden;background-repeat:no-repeat;}

.web_nav .user_info{height:61px;}
.web_nav .user_info li{color:#E6E6E6;float:left;margin-left:5px;}
.web_nav .user_info li a{color:#E6E6E6;}
.web_nav .user_info .uesrname{padding-top:21px;}
.web_nav .user_info .uesrname b{vertical-align: middle;}
.web_nav .user_info .uesrname .headName{max-width:84px;display:inline-block;}
.web_nav .user_info .user_img{position:relative;padding:10px 0 0 0;}
.web_nav .user_info .user_img img{width:37px;height:37px;border:2px solid #ddd;border-radius:50%;vertical-align:middle;}
.web_nav .user_info .user_img p{right:0;top:34px;z-index:2;width:16px;}
.web_nav .user_info .user_img p a,.web_nav .user_info .user_img p span{background-image:url(http://img3.img.9xiu.com/public/webImg/index/indexIcon.png);display:inline-block;vertical-align:middle;overflow:hidden;background-repeat:no-repeat;width:16px;height:16px;}
.web_nav .user_info .user_img p .state_on{background-position:-193px 0;}
.web_nav .user_info .user_img p .state_out{background-position:-173px 0;}
.web_nav .user_info .iconLi{text-align:center;padding-top:21px;height:40px;cursor:pointer;width:50px;}
.web_nav .user_info .iconLi:hover{background:#383B44;}
.web_nav .user_info .iconName{display:block;margin-top:5px;}
.web_nav .user_info .iconLiLogin{padding-top:16px;height:45px;margin-right:10px;font-size:14px;width: 80px;}
.web_nav .user_info .iconLiLogin a{color:#bbc1ca;}
.web_nav .user_info li:hover .iconName{color:#fa265d;}

.web_nav .user_info .userMoveOper{width:20px;padding:22px 0 0 10px;height:39px;cursor:pointer;}
.web_nav .user_info .liOn{background:#383b44;}
.web_nav .userMoveOper .moveArrow{background-position:0 -56px;margin-top:7px;width:9px;height:6px;vertical-align:top;}

.web_nav .userMoveOper .userMoveBox{top:61px;right:0;background:#383b44;width:169px;padding:10px;cursor:default;}
.web_nav .userMoveOper .userMoveBox div{border-bottom:1px solid #4c4f58;}
.web_nav .userMoveOper .userMoveBox p{margin:10px 0;}
.web_nav .userMoveOper .userMoveBox p span{color:#727584;}
.web_nav .userMoveOper .userMoveBox .detail b{width:27px;height:14px;background-position:-42px -56px;margin-right:9px;}
.web_nav .userMoveOper .userMoveBox .detail2 b{width:27px;height:14px;background-position:-12px -56px;margin-right:9px;}
.web_nav .userMoveOper .userMoveBox b,.web_nav .userMoveOper .userMoveBox em,.web_nav .userMoveOper .userMoveBox span{vertical-align:middle;}

.web_nav .userEditeBox .editeInput input{width:109px;border:none;height:20px;*line-height:20px;}
.web_nav .userEditeBox .editeInput input#newnickname{background:#fff}
.web_nav .userEditeBox .editeBtn{text-align:center;}
.web_nav .userEditeBox .editeBtn #updatenickname_button{background:#fb265e;width:72px;height:23px;line-height:23px;border:none;border-radius:5px;color:#fff;margin:10px 0;}
.web_nav .userMoveBox .eidteInfo{color:#878d9b;}

.web_nav_nologin .user_info{}
.web_nav_nologin .user_info li b{background-image:url(http://img2.img.9xiu.com/public/webImg/common/loginIcon.png);background-repeat:no-repeat;}
.user_info li .header_loginIcon{background-position:0 0;width:20px;height:20px;}
.user_info li:hover .header_loginIcon{background-position:0 -31px;}
.user_info li .header_setIcon{background-position:-79px 0;width:20px;height:20px;}
/*.user_info li:hover .header_setIcon{background-position:-79px -31px;}*/
.user_info li .header_helpIcon{background-position:-40px 0;width:20px;height:20px;}
/*.user_info li:hover .header_helpIcon{background-position:-40px -31px;}*/
.web_nav_nologin .user_info li a,.web_nav_nologin .user_info li b{display:inline-block;}

.header_login{color:#FFF;margin-left:10px;*max-width:380px;}
.header_login b img{margin-right: 5px;}

/*首页搜索*/
.headSearch_box{padding-top:16px;}
.headSearch_box .search_form{width:193px;height:28px;border:1px solid #3f3f3f;border-radius:15px;background:#262626;}
.headSearch_box .headSearch_txt{border:none;height:28px;width:138px;padding-left:12px;color:#828282;float:left;line-height:32px\9;background:none;}
.headSearch_box .headSearch_but{border:none;width:31px;height:28px;float:left;cursor:pointer;background:url(http://img2.img.9xiu.com/public/webImg/common/hear_search_btn.png);}

/* 导航用户设置
==================================*/
.web_nav .user_info .userSetupLi{width:50px;}
.web_nav .userSetupBox{top:61px;right:0;background:#383b44;width:220px;padding:10px;cursor:default;}
.web_nav .userSetupBox .userSetupInfo{text-align:center;border-bottom: 1px solid #262930;}
.web_nav .userSetupBox .userSetupInfo img{width:80px;height:80px;border:3px solid #5f6269;border-radius:50%;}
.web_nav .userSetupBox .userSetupInfo .infoName{margin:10px;}
.web_nav .userSetupBox .userSetupInfo .infoOper{margin-bottom:10px;}
.web_nav .userSetupBox .userSetupInfo .item_line{font-size: 0;width: 1px;height: 16px;margin: 0 5px;border-right: 1px solid #4d5057;border-left: 1px solid #262930;overflow: hidden;display: inline-block;line-height: 0;vertical-align: -3px;}
.web_nav .userSetupBox .userSetup{border-top: 1px solid #4d5057;}
.web_nav .userSetupBox .userSetup a{width:49%;display:inline-block;margin:10px 0;}
.web_nav .userSetupBox .userSetup a b{margin-right:5px;}
.web_nav .userSetIcon1{background-position:0 -75px;width:16px;height:18px;}
.web_nav .userSetIcon2{background-position:-19px -75px;width:20px;height:18px;}
.web_nav .userSetIcon3{background-position:-42px -75px;width:18px;height:17px;}
.web_nav .userSetIcon4{background-position:-63px -75px;width:18px;height:16px;}
.web_nav .userSetIcon5{background-position:-84px -75px;width:18px;height:14px;}
.web_nav .userSetIcon6{background-position:-105px -76px;width:18px;height:17px;}
.web_nav .userSetIcon7{background-position:-24px -98px;width:15px;height:15px;}
.web_nav .userSetIcon8{background-position:-41px -97px;width:19px;height:20px;}


.header-sprite, .header-1, .header-2, .header-3, .header-4, .header-5, .header-6, .header-7, .header-8, .header-9,.header-10,.header-state_jt01, .header-state_jt02, .header-state_on, .header-state_out, .header-top_icon1, .header-top_icon2, .header-top_icon3, .header-top_icon3_h, .header-top_icon4, .header-top_icon4_h, .header-vlogo, .redPoint{
  background-image: url(http://img3.img.9xiu.com/public/webImg/common/header-se85ec5d538.png?id=3);
  background-repeat: no-repeat;
  display:inline-block;
  vertical-align:middle;
}

.header-1, .header-2, .header-3, .header-4, .header-5, .header-6, .header-7, .header-8, .header-9,.header-10{width: 20px;height: 19px;}
/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-1 {
  background-position: 0 0;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-2 {
  background-position: 0 -23px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-3 {
  background-position: 0 -47px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-4 {
  background-position: 0 -69px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-5 {
  background-position: 0 -89px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-6 {
  background-position: 0 -112px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-7 {
  background-position: 0 -135px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-8 {
  background-position: 0 -159px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-9 {
  background-position: -87px 0;
}

.header-10 {
  background-position: -85px -41px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-top_icon1 {
  background-position: 0 -233px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-top_icon2 {
  background-position: 0 -254px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-top_icon3 {
  background-position: 0 -275px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-top_icon3_h {
  background-position: 0 -298px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-top_icon4 {
  background-position: 0 -321px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-top_icon4_h {
  background-position: 0 -346px;
}

/* line 84, d:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.header-vlogo {
  width: 102px;
  height: 44px;
  background-position: 0 -371px;
}

/* line 10, ../sass/print.scss */
.aa {
  width: 11px;
  height: 0;
  font-size: 0;
}


.gamenew{position:relative;}
.gamenew .img{position:absolute;background:url(http://img1.img.9xiu.com/public/webImg/common/gameNew.png) no-repeat;display:block;width:16px;height:5px;overflow:hidden;top:18px;left:40px;}
.gamenew:hover .img{background-position:0 -6px;}

/* 公告按钮
===================================*/

.footer{width:100%;margin-top:50px;}
.footer .warp{margin: auto;min-width: 1240px; max-width: 1424px; border-top: 2px solid #E1E3EB;}
.footer a{float: left;z-index:5;}
.footer .links{float:none;position:relative;top:0;color:#a2a2a2;left:0;}
.footer .links:hover{text-decoration:underline;}
.footer .copyright{color: #a2a2a2;line-height:180%;text-align:center; margin-top: 20px;}

.jianhu{position:absolute;right:-55px;bottom:-56px;} 

.footer .warp .section{border-bottom: 1px solid #E1E3EB; height: 126px; overflow: hidden;zoom:1; width: 100%; padding: 20px 0px;}
.footer .warp .section a{ position: static;}
.footer .warp .section div{ float: left;  width: 110px; margin: 0px 0px 0px 90px;}
.footer .warp .section .section_logo{ float: left; width: 232px; height: 60px; margin: 30px 0px 0px 30px; background: url(http://img3.img.9xiu.com/public/webImg/common/logo8.png) no-repeat left}
.footer .warp .section div a,.footer .warp .section div strong{ display: block; width: 100%;}
.footer .warp .section div strong{ color:#454545; font-size: 15px; line-height: 28px;}
.footer .warp .section div a{ font-size: 12px; color: #666666; line-height: 24px;}
.footer .copyright{ width: 1128px; margin: 0px auto; padding: 30px 0px;}
.footer .copyright span{ padding: 0px 24px; border-right: 1px solid #A6A6A7; line-height: 100%; margin: 6px 0px; display: inline-block;}
.footer .copyright span.noneborder{ border-right: 0px;}

/* head 风行接入头 */
.FX_head{height:40px;background:#F3F3F3;width:100%;}
.from_Fx .web_nav_bbg{height:101px;}
.syv5-nav{width:1000px;height:40px;margin:0 auto;position:relative;z-index:1000}
.syv5-nav .logov5{width:352px;height:40px;background:url(http://game.funshion.com/v6/public/img/common/head/img/logov5_4d47a25c.gif) no-repeat;font-size:12px;float:left}
.syv5-nav .logov5 a{width:352px;height:40px;display:block}
.syv5-nav .syv5-rctv{float:right}
.syv5-nav .syv5-alistv span{width:16px;height:18px;float:left}
.syv5-nav .syv5-alistv span.icon_home{background-repeat: no-repeat;}
.syv5-nav .syv5-alistv span.icon_pay{background-repeat: no-repeat;}
.syv5-nav .syv5-alistv span.icon_kefu{background-repeat: no-repeat;}
.syv5-nav .syv5-alistv span.icon_fav{background-repeat: no-repeat;}
.syv5-nav .syv5-alistv a{color:#444;padding:0 13px 0 4px;margin-right:13px;text-decoration:none;font-size:12px;height:18px;line-height:18px;float:left;display:inline}
.syv5-nav .syv5-alistv a:hover{text-decoration:underline}
.syv5-nav .syv5-alistv{float:right;/*width:320px;*/padding-top:14px;height:18px;line-height:18px;overflow:hidden}
.syv5-nav .syv5-alistvb{width:89px;height:30px;margin-top:10px;float:right;cursor:pointer;background-repeat: no-repeat;}
.syv5-nav .yxdq{height:35px;margin-top:5px;background-repeat: no-repeat;}
.syv5-nav .yxdq .hv5-show{display:block}
.syv5-nav .syv5-alistv span{background-image: url(http://game.funshion.com/v6/public/img/common/head/head_z_153ad156.png)}
.syv5-nav .syv5-alistv span.icon_home{background-position:-74px -74px}
.syv5-nav .syv5-alistv span.icon_pay{background-position:-73px -101px}
.syv5-nav .syv5-alistv span.icon_kefu{background-position:-73px -127px}
.syv5-nav .syv5-alistv span.icon_fav{background-position:-73px -153px}

.syv5-nav .syv5-alistv span.phone_name{ width: 60px; color: #444;}
