@charset "utf-8";

/* 组件css */
@import url('shop_header.css');
@import url('shop_nobility.css');
@import url('shop_vip.css');
@import url('shop_car.css');








.shopCarFlashBox{position:fixed;left:50%;top:50%;margin:-285px 0 0 -500px;z-index:5000;pointer-events: none;}
.shop_car{width:1188px;}
.shop_car_warp{width:1188px; background: #fff; margin-top: 20px;}

.shop_car_tit{font-size:20px; color: #333; height: 64px; line-height: 62px; border-bottom: 1px solid #F2F2F2;}
.shop_car_tit span{display: block; float: left; border-bottom: 3px solid #FF4541; margin-left: 20px;}

.shop_car_box{text-align:center;}
.shop_car_item{color:#585858;width:19.825%;height:262px; float:left;background:#fff; position:relative; border: 1px solid #fff; border-right: 1px solid #F2F3F4; border-bottom: 1px solid #F2F3F4; color:#585858; moz-transition: all .5s;
-webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
.shop_car_item:hover{border:1px solid #FF4541;}

.shop_car_item .car_name{font-weight:700;font-size:14px; height:60px;line-height:60px; color: #333;}
.shop_car_item .car_img{max-height:170px;}
.shop_car_item .car_img img{max-height:170px;max-width:100%;}

.shop_car_item .car_money{height:40px;line-height:40px; color: #999;}
.shop_car_item .car_money span{ color:#FF4541;}

.shop_car_item .buy_car_pop{width:136px;height:36px;line-height:36px;font-size:14px;color:#FF4541; border-radius:2px; background:#fff; margin:10px auto 0px; border: 1px solid #FF4541; cursor:pointer; moz-transition: all .5s;
-webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s;}
.shop_car_item .buy_car_pop:hover{color: #fff; background: #FF4541;}

.shop_car_item .other_btn{display:none;padding:0 35%;height:30px;line-height:30px;}
.shop_car_item .other_btn a{font-weight:bold;}
.shop_car_item .other_btn a:hover{color:#FF4541;}
.shop_car_item:hover .other_btn{display:block;}
.shop_car_item dl{font-size:14px;}
.shop_car_item dl dd{font-weight:bold;}
.shop_car_item dl dt,.shop_car_item dl dd{height:40px;line-height:40px;}

.shop_car_item .car_save_time{position:absolute;left:0;top:60px;display:inline-block;width:100%;}
.shop_car_item .car_save{position:absolute;right:10px;top:10px;width:46px;height:37px;background-position:-751px 0;font-size:14px;color:#fff;line-height:38px;padding-left:3px;}
.shop_car_item .car_ico{width:55px;height:55px;position:absolute;left:0;top:0;}
.car_ico3{background-position:-670px 0;}
.car_ico5{background-position:-670px -55px;}
.car_ico4{background-position:-670px -110px;}
.car_ico1{background-position:-670px -165px;}
.car_ico2{background-position:-670px -220px;}

/*活动座驾*/
.shop_item_ac{ height: 240px;}
body{background:#e6e6e6 !important;font-family:'Microsoft Yahei';}
.colorRed{color:#fb288e;}
.shadow{-webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.07);-moz-box-shadow: 0 0 8px 1px rgba(0,0,0,.07);box-shadow: 0 0 8px 1px rgba(0,0,0,.07);}
.shop_warp{width:1280px;margin:0 auto;}
.shop_back{background:url(../images/shopIcon.png) no-repeat;display:inline-block;overflow:hidden;}
.shop_ico{background-image:url(http://img1.img.9xiu.com/public/webImg/shop/shop_ico.png?id=3);background-repeat:no-repeat;display:inline-block;}
.shop_Tab_warp{width:100%;background:#e9e9e9 url(http://img1.img.9xiu.com/public/webImg/shop/shop_tab_line.jpg) left bottom repeat-x;min-width:1280px;}
.shop_Tab{height:99px;text-align:center;overflow:hidden;}
.shop_Tab a{display:inline-block;width:130px;height:99px;text-align:center;background-position:-165px -207px;margin:0 61px;float:left;}
.shop_Tab a:hover,.shop_Tab a.on{height:99px;}
.shop_Tab span{width:86px;height:76px;margin-top:23px;}
.shop_Tab span b{margin-top:44px;display:inline-block;width:86px;height:32px;line-height:32px;font-size:14px;color:#7d7d80;}
.shop_Tab a:hover span b,.shop_Tab a.on span b{background:url(http://img1.img.9xiu.com/public/webImg/shop/shop_ico.png) -292px 27px no-repeat;color:#fb288e;}
.vip_icon{background-position:23px 8px;}
.shop_Tab a:hover .vip_icon,.shop_Tab .on .vip_icon{background-position:23px -84px; }
.gz_icon{background-position:-44px 0;}
.shop_Tab a:hover .gz_icon,.shop_Tab .on .gz_icon{background-position:-44px -92px; }
.zj_icon{background-position:-119px 0;}
.shop_Tab a:hover .zj_icon,.shop_Tab .on .zj_icon{background-position:-119px -92px; }
.dj_icon{background-position:-193px 0;}
.shop_Tab a:hover .dj_icon,.shop_Tab .on .dj_icon{background-position:-193px -92px; }
.lh_icon{background-position:-379px 0;}
.shop_Tab a:hover .lh_icon,.shop_Tab .on .lh_icon{background-position:-379px -92px; }

.shop_title{margin:30px 0;}
.shop_title .shop_t_img{background-position:0 -204px;height:20px;width:78px;float:left;}
.shop_title .shop_t_line{background:url(http://img1.img.9xiu.com/public/webImg/shop/shop_tab_line.jpg) left 18px repeat-x;margin:0 5px;width:752px;height:20px;float:left;text-align:right;}
.shop_title .shop_t_line a{color:#5fbebe;font-size:14px;} 

.blue_btn{background:#5fbebe;text-align:center;color:#fff;border:none;cursor:pointer;display:inline-block;}
.blue_btn:hover{background:#38a7a7;}

.org_btn{background:#fb6358;text-align:center;color:#fff;border:none;cursor:pointer;display:inline-block;}
.org_btn:hover{background:#FF3F32;}

.shop_banner{text-align:center;width:100%;margin-top:5px;}

.shop_vip_banner{background:#000;}
.shop_dj_banner{background:url(http://img1.img.9xiu.com/public/webImg/shop/prop_banner_bg.jpg) left top repeat-x;}

.shop_gz_aho{width: 550px;margin: -212px 0 0 -276px;}
.shop_gz_aho .text_input{height: 24px;line-height: 24px \9;border:1px solid #DDD;}
.shop_gz_aho .hd span{color: #575757}
.gz_aho_list{overflow: auto;height: 345px;}
.gz_aho_list a{float: left;padding:3px 5px;width: 105px;height:18px;text-align: center;margin:0 8px 14px 0;overflow:hidden;}
.gz_aho_list a:hover{background:#FF4492;color: #FFF;}
.shop_gz th{font-family: '微软雅黑';}

/* VIP 贵族公用
=================================*/
.shopCont{color:#666;}

.table_box{border-top:1px solid #d9d9d9;border-left:1px solid #d9d9d9;}
.table_box .table_list li{font-size:14px;}
.table_box .table_list li.itemFirst{width:235px;}
.table_box .table_list li{float:left;border-bottom:1px solid #d9d9d9;border-right:1px solid #d9d9d9;width:148px;text-align:center;height:40px;line-height:40px;}
.table_box .table_list li .shop_ok{width:17px;height:13px;background-position:-361px -42px;*position:relative;*top:50%;*margin-top:-6px;}
.table_box .table_list .ftfj_item{width:1042px;}
.table_box .zszj_list li{height:87px;}
.table_box .zszj_list li em{right:5px;top:0;color:#5fbebe;cursor:pointer;line-height:180%;}
.table_box .table_list .zszj_item{width:148px;}
.table_box .table_list .zszj_itemColor{width:446px;}
.table_box .table_list .color_item span{padding:0 30px;}
.table_box .table_list .color_item2 span{padding:0 10px;}

/*守护*/

.carFlashBox{position:fixed;left:50%;margin-left:-500px;top:0;z-index:5000;}

.payGuardWarp{background:url(http://img1.img.9xiu.com/public/webImg/shop/shop_gz_tbg.png) left top no-repeat;}
.payGuardBox{width:840px;padding-top:204px;}
.payGuardBox .prop_pop{right:255px;top:230px;background:#fff;padding:10px;}
.payGuardBox .prop_pop b{display:inline-block;width:9px;height:5px;overflow:hidden;background:url(http://img1.img.9xiu.com/public/webImg/shop/shop_jt_top.png) 0 0 no-repeat;top:-5px;left:50%;margin-left:-5px;}
.payGuardBox .prop_pop li{width:185px;}
.payGuardBox .prop_pop li.itemFirst{width:86px;}

.payGuardBox_list{font-size:14px;}
.payGuardBox_list p{margin:25px 0;line-height:32px;}
.payGuardBox_list strong{margin:0 10px;}
.payGuardBox_list em,.payGuardBox_list b{margin:0 10px;color:#f3894c;}
.payGuardBox_list em{margin:0 5px;}
.payGuardBox_list #curr_anchor{width:210px;height:33px;line-height:32px;border:1px solid #d5d5d5;font-size:12px;text-align:center;*position:relative;*top:10px;color:#C2C2C2;}
.payGuardBox_list .custom_box b{margin:0 5px;}
.payGuardBox_list label[name=guizu_type],.payGuardBox_list label[name=guizu_time]{margin:0 10px;}
.payGuardBox_list .blue_btn{width:100px;height:35px;margin-right:5px;}
.payGuardBox_list label{border:1px solid #c2c2c2;cursor:pointer;height:33px;line-height:32px;padding:0 8px;display:inline-block;color:#393a3c;}
.payGuardBox_list label:hover,.payGuardBox_list label.on{border:1px solid #fb288e;background:url(http://img1.img.9xiu.com/public/webImg/shop/shop_label.png) right bottom no-repeat;}
.payGuardBox_list .custom_box{margin-left:73px;}

.payGuardBox_list .guardAhoInfo .headimage{width:50px;height:50px;border-radius:50%;margin-right:15px;}
.payGuardBox_list .guardAhoInfo .avatar{width:165px;height:124px;margin-top:10px;}

.kaitong_box{border-top:1px solid #c2c2c2;padding-top:10px;line-height:none;}
.kaitong_box em{width:422px;}
.kaitong_box a{color:#5fbebe;}
.kaitong_box .kaitong{width:100px;height:34px;}

.privilegeWarp .shop_title{margin:20px 0;}
.privilegeWarp .shop_title .shop_t_img{width:100px;background-position:0 -232px;}
.privilegeWarp .shop_title .shop_t_line{width:1170px;}

.privilegeTip{color:#f47626;font-size:14px;margin:20px 0;line-height:2em;}
.privilegeTip dd{padding-left:28px;}

.growthWarp .shop_title .shop_t_img{width:138px;background-position:0 -258px;}
.growthWarp .shop_title .shop_t_line{width:1132px;}

.growthTip{margin:20px 0;color:#393a3c;font-size:14px;}
.growthWarp_jc{width:684px;}
.growthWarp_jc .table_list .itemFirst{width:683px!important;}
.growthWarp_jc .table_list li{width:170px;font-size:16px;}
.growthWarp_jl{width:529px;}
.growthWarp_jl .table_list .itemFirst{width:528px!important;}
.growthWarp_jl .table_list li{width:148px;font-size:16px;}
.growthWarp_jl .table_list li.itemCont{width:379px;}

.shopGiftWarp{margin-bottom:30px;}
.shopGiftWarp .shop_title .shop_t_img{width:118px;background-position:0 -284px;}
.shopGiftWarp .shop_title .shop_t_line{width:1152px;}
.shopGiftWarp .giftBox{border-top:1px solid #d9d9d9;border-left:1px solid #d9d9d9;margin:20px 8px 0 8px;}
.shopGiftWarp .giftBox li{float:left;border-bottom:1px solid #d9d9d9;border-right:1px solid #d9d9d9;width:420px;height:165px;line-height:165px;text-align:center; vertical-align:middle;}
.shopGiftWarp .giftBox li img{max-width:117px;max-height:117px;}
.srollTop{text-align:center;}
.srollTop span{width:180px;height:56px;line-height:56px;font-size:16px;}

/*靓号*/
.shop_lh{width:1190px;}
.shop_lh_sm_pop{border:1px solid #d6d9e1;color:#888888;font-size:14px;padding:5px;border-radius:3px;background:#f8faff;position:absolute;display:none;}
.lh_search_sm_pop{right:43px;top:31px;}
.lh_tj_sm_pop{left:151px;top:28px;}
.shop_lh_c{margin-top:20px;background:#fff;min-height:950px;}
.shop_lh_c .shop_sm_ico{background-position:-361px -83px;width:16px;height:16px;cursor:pointer;}
.search_lh{padding:30px 20px;border-bottom:1px solid #edeff5;}
.search_lh .search_lh_input{height:33px;border:1px solid #c0c1c6;width:370px;border-radius:3px;padding:0 10px;margin-right:20px;}
.search_lh .search_lh_btn{margin-top:1px;width:102px;height:31px;border:1px solid #c0c1c6;background:#f8faff;border-radius:3px;color:#888888;font-size:14px;text-align:center;display:inline-block;line-height:31px;}
.search_lh .search_lh_btn b{background-position:-292px -83px;width:18px;height:18px;vertical-align: middle;margin-right:5px;}
.search_lh .search_lh_r{height:35px;line-height:35px;}
.search_lh .search_lh_r em{color:#888888;font-size:18px;}
.search_lh .search_lh_r .lh_search_sm{vertical-align:-2px;margin-left:5px;}
.search_lh_nodata{margin:30px auto;width:488px;display: block;}

.shop_lh_box h2{padding:20px 20px 0 20px;}
.shop_lh_box h2 em{font-size:22px;color:#383838;}
.shop_lh_box h2 .lh_tj_sm{margin-left:20px;}

.shop_lh_list{margin:20px 47px 0 47px;border-bottom:1px dotted #dcdcdc;padding:20px 0;}
.shop_lh_list .shop_lh_item{padding:0 20px;float:left;position:relative;margin-bottom:30px;}
.shop_lh_item_pop{left:100px;top:50px;}
.shop_lh_list .shop_lh_item .shop_lh_bg{width:179px;text-align:center;font-size:32px;font-weight:bold;height:68px;line-height:68px;}

.shop_lh_list .shop_lh_item em{display:inline-block;width:119px;font-size:14px;}
.shop_lh_list .shop_lh_item:hover em{color:#fa265d;}
.shop_lh_list .shop_lh_item b.btn{display:inline-block;width:60px;height:24px;text-align:center;font-size:14px;color:#ffffff;background:#fa265d;line-height:24px;border-radius:3px;}
.shop_lh_list .shop_lh_item b.btn:hover{background:#EC1149;}

.shop_lh_list_1 .shop_lh_item .shop_lh_bg{color:#8e4600;background-position:-469px -78px;height:78px;line-height:78px;}
.shop_lh_list_1 .shop_lh_item:hover .shop_lh_bg{background-position:-469px 0;}

.shop_lh_list_2 .shop_lh_item .shop_lh_bg{color:#a31000;background-position:-469px -224px;}
.shop_lh_list_2 .shop_lh_item:hover .shop_lh_bg{background-position:-469px -156px;}

.shop_lh_list_3 .shop_lh_item .shop_lh_bg{color:#77008d;background-position:-469px -360px;}
.shop_lh_list_3 .shop_lh_item:hover .shop_lh_bg{background-position:-469px -292px;}

.shop_lh_list_4 .shop_lh_item .shop_lh_bg{color:#005087;background-position:-469px -496px;}
.shop_lh_list_4 .shop_lh_item:hover .shop_lh_bg{background-position:-469px -428px;}

.shop_lh_list_5 .shop_lh_item .shop_lh_bg{color:#00738b;background-position:-469px -632px;}
.shop_lh_list_5 .shop_lh_item:hover .shop_lh_bg{background-position:-469px -564px;}

.shop_lh_list .shop_lh_item .txt{}
.profit{text-align:center;font-size:14px;padding: 10px 0;color:#888;}

.shop_lh_sm{font-size:14px;color:#191a1f;margin-top:20px;}

.return_tj_lh{width:76px;height:29px;line-height:29px;text-align:center;display:inline-block;color:#888888;font-size:14px;border:1px solid #d6d9e1;border-radius:3px;}
.return_tj_lh:hover{color:#fa265d;}

.shop_accountid_pop{position:fixed;left:50%;top:50%;margin:-205px 0 0 -282px;width:565px;height:410px;background:#ffffff;z-index:5001;}
.shop_accountid_pop .close{position:absolute;right:0;top:0;text-align:center;padding:9px;width:12px;height:12px;cursor:pointer;}
.shop_accountid_pop .close a{width:12px;height:12px;background-position:-306px -119px;}
.shop_accountid_pop .close:hover a{width:12px;height:12px;background-position:-292px -119px;}
.accountid_pop_l{width:179px;background:#f26687;padding:30px 8px 0 8px;height:380px;}
.accountid_pop_l .carImg{text-align:center;}
.accountid_pop_l .carImg img{max-width:100%;max-height:110px;}
.accountid_pop_l dl{color:#ffffff;font-size:14px;margin-top:20px;text-align:center;line-height:2em;}
.accountid_pop_l ul{color:#ffe5eb;margin-top:30px;line-height:2em;padding:0 10px;}
.accountid_pop_l p{margin-top:37px;color:#ffe5eb;line-height:2em;padding:0 10px;}

.accountid_pop_r{padding:0 40px;width:290px;height:410px;}
.accountid_pop_r .accountid_user{border-bottom:1px solid #aaaaaa;height:60px;line-height:60px;margin:20px 0;}
.accountid_pop_r .accountid_user .touser{display:inline-block;width:167px;}
.accountid_pop_r .accountid_user .touser b{font-size:14px;font-weight:bold;}
.accountid_pop_r .accountid_user .touser #buy_accountid_user{height:28px;width:131px;border:1px solid #aaaaaa;border-radius:3px;_line-height:28px;padding-left:5px;display:none;}
.accountid_pop_r .accountid_user .checkuser{color:#1498e3;}
.accountid_pop_r .buy_item{margin-bottom:20px;font-size:14px;color:#505050;}
.accountid_pop_r .buy_accountid_company{margin-left:5px;}
.accountid_pop_r .buy_item span{display:inline-block;width:80px;}
.accountid_pop_r .buy_item em{color:#fa265d;margin-right:5px;}
.accountid_pop_r .checkMonth b{display:inline-block;border:1px solid #aaaaaa;padding:5px;cursor:pointer;margin-right:10px;}
.accountid_pop_r .checkMonth b.on{border:1px solid #fa265d;color:#fa265d;}
.accountid_pop_r #buy_accountid_year{display:none;}
.accountid_pop_r select{width:70px;height:21px;}
.accountid_pop_r .buy_lh_btn{text-align:right;}
.accountid_pop_r .buy_item_btn{width:110px;height:40px;line-height:40px;text-align:center;color:#fefefe;font-size:16px;background:#fa265d;display:inline-block;border-radius:3px;margin-top:70px;}

.shop_lh_bg{width:179px;text-align:center;font-size:32px;font-weight:bold;height:68px;line-height:68px;background-image:url(http://img1.img.9xiu.com/public/webImg/shop/shop_ico.png?id=3);background-repeat:no-repeat;display:inline-block;}
.shop_lh_bg1{height:78px;line-height:78px;color:#8e4600;background-position:-469px -78px;}
.shop_lh_bg2{color:#a31000;background-position:-469px -224px;}
.shop_lh_bg3{color:#77008d;background-position:-469px -360px;}
.shop_lh_bg4{color:#005087;background-position:-469px -496px;}
.shop_lh_bg5{color:#00738b;background-position:-469px -632px;}



/* 道具
===================================*/

.dj_box .shop_title{margin:20px 0;}
.dj_box .shop_title .shop_t_img{width:38px;background-position:0 -626px;}
.dj_box .shop_title .shop_t_line{width:1232px;line-height: 16px;}

.dj_love{background-position:0 -511px;width:195px;height:96px;vertical-align:bottom;}
.dj_ys{background-position:-209px -511px;width:195px;height:96px;vertical-align:bottom;}
.dj_dt{background:url(http://img.img.9xiu.com/public/webImg/shop/2000353.png) no-repeat;width:195px;height:109px;vertical-align:bottom;}
.dj_zhiding{background:url(http://img3.img.9xiu.com/public/webImg/shop/2000339.png) no-repeat 0 -4px;width:195px;height:96px;vertical-align:bottom;}

.dj_item{width:565px;min-height:420px;margin-bottom:50px;}
.dj_item .dj_brand{font-size:14px;width:565px;text-align:center;height:94px;background:url(http://img1.img.9xiu.com/public/webImg/shop/shop_car_tbg.png) center bottom no-repeat;margin:0;}
.dj_item dl{line-height:2em;width:252px;}
.dj_item dl dt{color:#fb288e;font-size:16px;margin-bottom:10px;}
.dj_item dl dd{color:#7d7d80;font-size:14px;}
.dj_item .dj_img{margin-top:50px;}

.love_item dl{margin-top:55px;}

.dj_item .dj_item_tip{background:url(http://img1.img.9xiu.com/public/webImg/shop/dj_tz.png) center bottom no-repeat;padding:0 0 62px 35px;}

.dj_item_pay{text-align:center;font-size:14px;}
.dj_item_pay p{margin-top:20px;}
.dj_item_pay em{color:#f3894c;}
.dj_item_pay a{font-size:16px;width:100px;height:36px;line-height:36px;}


.payVipWarp .shop_title{margin:30px 0 10px 0;}
.payVipWarp .shop_title .shop_txt{font-weight:bold;font-size:22px;color:#383838;padding-left:15px;}
.payVipWarp .shop_title .shop_link a{color:#fa265d;font-size:14px;border:1px solid #fa265d;border-radius:5px;padding:0 5px;}
.payVipWarp .vipItem{background:#fff;margin:0;padding:15px 0 15px 15px;}
.payVipWarp .vipTo{margin-top:1px;}
.payVipWarp .vipTo span{margin-right:50px;}
.payVipWarp .vipTo label{margin:0;border:0;padding:0;line-height:150%;height:auto;}
.payVipWarp .vipTo label:hover{border:0 none;background:none;}
.payVipWarp label{margin:0 50px;}
#vip_accountid{width:210px;height:33px;line-height:32px;border:1px solid #d5d5d5;font-size:12px;text-align:center;}

.vipPrivilegeWarp .shop_title{margin:10px 0;}
.vipPrivilegeWarp .shop_title .shop_txt{font-weight:bold;font-size:22px;color:#383838;padding-left:5px;}
.vipPrivilegeWarp .shop_title .shop_link a{color:#fa265d;font-size:14px;border:1px solid #fa265d;border-radius:5px;padding:0 5px;}

.vipPrivilegeBox .table_list .itemFirst{width:219px!important;}
.vipPrivilegeBox .table_list .colorRed{font-size:16px;}
.vipPrivilegeBox .table_list li{width:352px;height:50px;line-height:50px;}
.vipPrivilegeBox .table_list li em{color:#f3894c;}

.vip_state{font-size:14px;color:#fa265d;margin-top:10px;}

.shopVipIcon{background:url(http://img2.img.9xiu.com/public/webImg/shop/shopVipIcon.png) no-repeat;}
.shopVipIcon1{background-position:0 0;width:80px;height:28px;}
.shopVipIcon2{background-position:0 -28px;width:80px;height:28px;}
.shopVipIcon3{background-position:0 -56px;width:80px;height:28px;}
.shopVipIcon4{background-position:0 -84px;width:80px;height:28px;}

.shopVipIcon5{background-position:0 -112px;width:106px;height:37px;}
.shopVipIcon6{background-position:0 -149px;width:106px;height:37px;}
.shopVipIcon7{background-position:0 -186px;width:106px;height:37px;}
.shopVipIcon8{background-position:0 -223px;width:106px;height:37px;}

.payVipWarp .payGuardBox_list em,.payVipWarp .payGuardBox_list b{color: #fa265d;}
.payVipWarp .kaitong_box{border:none;}
.payVipWarp .kaitong_box .kaitong{font-size:16px;background:#fa265d;}
.payVipWarp .vipTypeBox{background:#fff;width:297px;padding:25px 0;text-align:center;margin:0 1px 1px 0;position:relative;}
.payVipWarp .vipTypeBoxnb{margin:0 0 1px 0;}
.payVipWarp .vipTypeBox{cursor:pointer;}
.payVipWarp .vipTypeBox p.shopVipIcon{margin:0 auto;}
.payVipWarp .vipTypeBox p.txt{margin:4px 0 0 0;color:#fa265d;font-size:14px;}
.payVipWarp .vipTypeBox .bg{position:absolute;left:-5px;top:0;background:url(http://img2.img.9xiu.com/public/webImg/shop/vipTypeBoxBg.png) left top no-repeat;width:298px;height:115px;display:none;}
.payVipWarp .vipTypeBox:hover .bg,.payVipWarp .on .bg{display:inline-block;}

.payVipWarp .payGuardBox_list label:hover,.payVipWarp .payGuardBox_list label.on{border:1px solid #fa265d;background:url(http://img1.img.9xiu.com/public/webImg/shop/shop_label2.png) right bottom no-repeat;}

.payVipWarp .payGuardBox_list .vipTo label:hover,.payVipWarp .payGuardBox_list .vipTo label.on{border:none;background:none;}

.vipPrivilegeBoxList{background:#fff;width:297px;margin-right:1px;padding-top:140px;min-height:627px;}
.vipPrivilegeBoxListnb{margin:0;}
.vipPrivilegeBoxList .shopVipIcon{position:absolute;top:30px;left:-5px;}
.vipPrivilegeBoxList .showVipIcon{position:absolute;width:130px;height:130px;display:inline-block;right:-1px;top:0;}
.vipPrivilegeBoxList p{margin:15px 0;font-size:14px;padding:0 20px;}

.hjVipList{color:#ff9000;}
.bjVipList{color:#d42137;}
.zsVipList{color:#d045ea;}
.zzVipList{color:#000000;}

.hjVipList .showVipIcon{background:url(http://img2.img.9xiu.com/public/webImg/shop/showvip1.jpg);}
.bjVipList .showVipIcon{background:url(http://img2.img.9xiu.com/public/webImg/shop/showvip2.jpg);}
.zsVipList .showVipIcon{background:url(http://img2.img.9xiu.com/public/webImg/shop/showvip3.jpg);}
.zzVipList .showVipIcon{background:url(http://img2.img.9xiu.com/public/webImg/shop/showvip4.jpg);}

.hjVipList:hover .showVipIcon{background:url(http://img2.img.9xiu.com/public/webImg/shop/showvip1_on.jpg);}
.bjVipList:hover .showVipIcon{background:url(http://img2.img.9xiu.com/public/webImg/shop/showvip2_on.jpg);}
.zsVipList:hover .showVipIcon{background:url(http://img2.img.9xiu.com/public/webImg/shop/showvip3_on.jpg);}
.zzVipList:hover .showVipIcon{background:url(http://img2.img.9xiu.com/public/webImg/shop/showvip4_on.jpg);}

.vipPrivilegeWarp .srollTop span{background:#fa265d;}

