/* 道具
===================================*/

.dj_box .shop_title{margin:20px 0;}
.dj_box .shop_title .shop_t_img{width:38px;background-position:0 -626px;}
.dj_box .shop_title .shop_t_line{width:1232px;line-height: 16px;}

.dj_love{background-position:0 -511px;width:195px;height:96px;vertical-align:bottom;}
.dj_ys{background-position:-209px -511px;width:195px;height:96px;vertical-align:bottom;}
.dj_dt{background:url(http://img.img.9xiu.com/public/webImg/shop/2000353.png) no-repeat;width:195px;height:109px;vertical-align:bottom;}
.dj_zhiding{background:url(http://img3.img.9xiu.com/public/webImg/shop/2000339.png) no-repeat 0 -4px;width:195px;height:96px;vertical-align:bottom;}

.dj_item{width:565px;min-height:420px;margin-bottom:50px;}
.dj_item .dj_brand{font-size:14px;width:565px;text-align:center;height:94px;background:url(http://img1.img.9xiu.com/public/webImg/shop/shop_car_tbg.png) center bottom no-repeat;margin:0;}
.dj_item dl{line-height:2em;width:252px;}
.dj_item dl dt{color:#fb288e;font-size:16px;margin-bottom:10px;}
.dj_item dl dd{color:#7d7d80;font-size:14px;}
.dj_item .dj_img{margin-top:50px;}

.love_item dl{margin-top:55px;}

.dj_item .dj_item_tip{background:url(http://img1.img.9xiu.com/public/webImg/shop/dj_tz.png) center bottom no-repeat;padding:0 0 62px 35px;}

.dj_item_pay{text-align:center;font-size:14px;}
.dj_item_pay p{margin-top:20px;}
.dj_item_pay em{color:#f3894c;}
.dj_item_pay a{font-size:16px;width:100px;height:36px;line-height:36px;}

